Repository RoboCupAtHomeJP/Rule2023, pull requests merged in 2023-04, with the labels that each got.

#5 Draft/opl ri
  rules/OPL/ri_en.md
  rules/OPL/ri_ja.md
Labels: documentation, OPL

#9 Draft/opl gpsr
  rules/OPL/gpsr_en.md
  rules/OPL/gpsr_ja.md
Labels: documentation, OPL

#8 [OPL] Receptionist
  rules/OPL/rc_en.md
  rules/OPL/rc_ja.md
Labels: documentation, OPL

#7 Draft/opl tc
  rules/OPL/tc_en.md
  rules/OPL/tc_ja.md
Labels: documentation, OPL

#6 Draft/opl gr
  rules/OPL/gr_en.md
  rules/OPL/gr_ja.md
Labels: documentation, OPL

#12 [Hotfix] Draft/opl rc
  rules/OPL/rc_ja.md
Labels: bug, OPL

#18 [Mod] Update deus ex machina rule of Receptionist. #15
  rules/OPL/rc_en.md
  rules/OPL/rc_ja.md
Labels: OPL
